@font-face {
    font-family: ffinish;
    src: url(fFinish.ttf);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #161A1D;
}

nav {
    background-color: #BA181B;
    font-family: ffinish;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#logo {
    max-width: 100px;
    height: auto;
 
}

#blog-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.post {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.post h2 {
    color: #333;
}

.post p {
    color: #666;
}

header {
    background-color: #BA181B; /* Promenite u željenu boju, na primer, red za crveno */
    color: white;
    text-align: center;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
h1{
    font-family: ffinish;
    color: black;
    
}
.parent {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
.div1 { 


}
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 2 / 3 / 3 / 4; }
.div7 { grid-area: 3 / 1 / 4 / 2; }
.div8 { grid-area: 3 / 2 / 4 / 3; }
.div9 { grid-area: 3 / 3 / 4 / 4; }
.div10 { grid-area: 4 / 1 / 5 / 2; }
.div11 { grid-area: 4 / 2 / 5 / 3; }
.div12 { grid-area: 4 / 3 / 5 / 4; }

#max{
    max-width: 500px;
    height: auto;
}



