@font-face {
    font-family: ffinish;
    src: url(fFinish.ttf);
}
@font-face {
    font-family: louis;
    src: url(Louis\ George\ Cafe.ttf);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #161A1D;
}

nav {
    background-color: #BA181B;
    font-family: ffinish;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#logo {
    max-width: 100px;
    height: auto;
 
}

#blog-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.post {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.post h2 {
    color: #333;
}

.post p {
    color: #666;
}

header {
    background-color: #BA181B;
    color: white;
    text-align: center;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-family: ffinish;
    color: black;
    
}

#max {
    max-width: 1000px;
    height: auto;
    border-radius: 10px;
}

.image-container {
    position: relative;
    margin-left: 50px;
    margin-top: 50px;
}

.image-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px; /* Dodajte padding po potrebi */
    box-sizing: border-box; /* Uključuje padding u širinu i visinu elementa */
    text-align: left;
    color: white;
    
}

.image-text h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-family: ffinish;
}

.image-text p {
    font-size: 16px;
    width: 900px;
    font-family: louis;
}

/* Dodajte novu animacijsku klasu za tekst */
.text-fade-in {
    opacity: 0;
    transition: opacity 1s;
}

/* Dodajte stil za tekst druge slike */
#first-image-container.is-visible .image-text {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 1s;
}










